{:paths   ["src"]
 :deps    {}
 :aliases {:test        {:extra-paths ["test"]}
           :test-runner {:extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                                 :sha     "cc75980b43011773162b485f46f939dc5fba91e4"}}
                         :main-opts  ["-m" "cognitect.test-runner"]}
           :build       {:deps       {io.github.seancorfield/build-clj {:git/tag "v0.8.0" :git/sha "9bd8b8a"}}
                         :ns-default build}
           :orchestra   {:extra-deps {orchestra/orchestra {:mvn/version "2021.01.01-1"}}}
           :cljs        {:extra-deps {thheller/shadow-cljs      {:mvn/version "2.18.0"}
                                      org.clojure/clojurescript {:mvn/version "1.11.4"}}}}}
