version: 2.1

defaults: &defaults
  docker:
    - image: circleci/clojure:openjdk-11-lein-2.9.1
  environment:
    JVM_OPTS: -Xmx3200m

jobs:
  build:
    <<: *defaults

    steps:
      - checkout

      - restore_cache:
          key: project-{{ checksum "project.clj"}}

      - run:
          name: Dev defn tests
          command: lein test
      - run:
          name: Production defn tests
          command: |
            export JAVA_TOOL_OPTIONS="-Dclojure.spec.compile-asserts='false'"
            lein test :production

      - save_cache:
          paths:
            - ~/.m2
          key: project-{{ checksum "project.clj"}}